.deslogar{
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 0.5rem 1rem;
}

.deslogar:hover{
  background-color: black;
  color: white;
  transition: 0.3s;
}

.deslogar_div{
  margin: 0rem 4rem;
  text-align: right;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

.deslogar_div a{
  display: grid;
  align-content: center;
}

.icon_user{
  border: 2px solid black;
  border-radius: 50%;
  padding: 0.3rem;
  height: 2rem;
}
